@require '../../assets/stylus/variables';

a {
	display: block;
	margin: 0 (pad * 0.25);
	padding: (pad * 0.5);
	min-width: 18px;
	border-radius: 17px;
	background: color0;
	text-transform: uppercase;

	hoverDark();

	+responsive(width2) {
		padding: (pad * 0.75);
		border-radius: 21px;
	}

	+responsive(width3) {
		padding: pad;
		border-radius: 25px;
	}
}

.media-links {
	display: flex;
	justify-content: flex-start;

	a {
		color: #fff;

		hoverLight();
	}

	.link-media-facebook {
		background: #306199; // facebook blue
	}

	.link-media-twitter {
		background: #26c4f1; // twitter blue
	}
}
