@require '../../assets/stylus/variables';

a {
	display: block;
	margin: 0 (pad * 0.25);
	padding: 0;
	min-width: 34px;
	height: 34px;
	border-radius: 17px;
	background: color0;
	text-transform: uppercase;
	font-size: font-size-sm;
	line-height: 34px;

	hoverDark();

	+responsive(width2) {
		min-width: 44px;
		height: 44px;
		border-radius: 21px;
		font-size: font-size-lg;
		line-height: 42px;
	}

	+responsive(width3) {
		margin: 4px (pad * 0.5);
	}
}

.media-links {
	display: flex;
	justify-content: flex-start;

	a {
		color: #fff;

		hoverLight();
	}
}
