
@require '../../assets/stylus/variables';

.error {
	padding: pad;
	background: color-error;
	color: color0;
}

blockquote {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 auto 58px;
	padding: 0;
	width: calc(100% - 50px);
	border: 25px solid #000000;
	border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23000000' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23000000'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
	background-color: color4;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

	h2 {
		display: block;
		padding-top: 0;
		color: color0;
		text-align: center;
		font-size: font-size-md;
		font-family: font-family-h2;
		line-height: line-height;

		&::before {
			content: '“';
			font-size: 150%;
		}

		&::after {
			content: '”';
			font-size: 150%;
		}

		+responsive(width2) {
			font-size: font-size-lg;
		}

		+responsive(width3) {
			font-size: font-size-xl;
		}
	}

	h3 {
		display: inline-block;
		align-self: flex-end;
		float: right;
		margin-right: -(pad * 0.5);
		margin-bottom: -(pad * 0.5);
		padding: (pad * 0.5);
		color: color2;
		font-size: font-size-xs;
		font-family: font-family-h2;
		line-height: line-height;
		cursor: pointer;

		a {
			color: color2;
			font-size: font-size-xs;
		}

		hoverLight();

		&::before {
			content: '—';
		}

		+responsive(width2) {
			font-size: font-size-sm;
		}

		+responsive(width3) {
			font-size: font-size-sm;
		}
	}

	+responsive(width2) {
		padding: (pad * 1.5);
		width: 75%;
	}
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: (pad * 0.5) 4px;
	height: 34px;
	background: color0;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);

	+responsive(width2) {
		height: 42px;
	}

	+responsive(width3) {
		height: 50px;
	}

	app-share {
		display: flex;
		justify-content: space-between;
	}
}