<main>
	<div *ngIf="showError" class="error">{{text.error.quote}}</div>
	<blockquote [className]="showQuote ? 'show' : 'hide'">
		<h2>{{content}}</h2>
		<h3 (click)="refreshQuote(author)"><a href="javascript:void();" attr.alt="{{text.showMore}} {{author}}"
				 attr.title="{{text.showMore}} {{author}}">{{author}}</a>
		</h3>
	</blockquote>
</main>
<footer>
	<app-footer [class]="showFooter ? 'show':'hide'" [content]="content" [author]="author" (refreshE)="refreshQuote()">
	</app-footer>
</footer>