html {
	height: 100%;

	body {
		height: 100%;
		color: color5;
		font-size: font-size-sm;
		font-family: font-family;

		.hide {
			fadeIn();

			left: -100%;
			opacity: 0;
		}

		.show {
			fadeIn();

			left: 0;
			opacity: 1;
		}
	}

	a {
		color: color4;
		text-decoration: none;
		cursor: pointer;
	}

	h1, h2, h3, h4 {
		margin: 0;
		padding: pad 0;
		font-weight: normal;
		font-family: font-family-h1;
	}

	.content {
		position: relative;
		margin: 0 auto;
		width: 'calc(100% - %s)' % pad;
		height: 100%;
		text-align: center;

		&::before {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			background-color: color1;
			content: '';
		}

		+responsive(width1) {
			width: (width1 - 32px);
		}

		+responsive(width2) {
			width: (width2 - 32px);
		}

		+responsive(width3) {
			width: (width3 - 32px);
		}

		+responsive(width4) {
			width: (width4 - 32px);
		}
	}
}