html {
	height: 100%;

	body {
		height: 100%;
		background: color1;
		color: color5;
		font-size: font-size-sm;
		font-family: font-family;

		.visibility-state-0 {
			animate();

			left: -100%;
			opacity: 0;
		}

		.visibility-state-1 {
			left: 100%;
			opacity: 0;
		}

		.visibility-state-2 {
			animate();

			left: 0;
			opacity: 1;
		}
	}

	a {
		color: color4;
		text-decoration: none;
		cursor: pointer;
	}

	h1, h2, h3, h4 {
		margin: 0;
		padding: (pad * 0.5) 0;
		font-weight: normal;
		font-family: font-family-h1;

		+responsive(width2) {
			padding: pad 0;
		}
	}

	.content {
		position: relative;
		overflow-x: hidden;
		margin: 0 auto;
		width: 'calc(100% - %s)' % pad;
		height: 100%;
		text-align: center;

		+responsive(width1) {
			width: (width1 - 32px);
		}

		+responsive(width2) {
			width: (width2 - 32px);
		}

		+responsive(width3) {
			width: (width3 - 32px);
		}

		+responsive(width4) {
			width: (width4 - 32px);
		}
	}
}