color0 = rgba(255, 255, 255, 1);
color1 = rgba(237, 203, 150, 1);
color2 = rgba(247, 196, 165, 1);
color3 = rgba(158, 118, 130, 1);
color4 = rgba(96, 87, 112, 1);
color5 = rgba(77, 72, 97, 1);
color-error = rgba(237, 118, 130, 1);
font-size-sm = 16px;
font-size-xxl = (font-size-sm * 2);
font-size-xl = (font-size-sm * 1.8);
font-size-lg = (font-size-sm * 1.6);
font-size-md = (font-size-sm * 1.4);
font-size-xs = (font-size-sm * 0.75);
line-height = 1.5em;
font-family = 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-family-h1 = 'DomaineDisplayNarrow', Georgia, serif;
font-family-h2 = 'Lemonada', cursive;
pad = 16px;
width1 = 600px;
width2 = 768px;
width3 = 992px;
width4 = 1200px;

box-shadow(args...) {
	box-shadow: args;
	-webkit-box-shadow: args;
	-moz-box-shadow: args;
}

animate(speed = 0.5s) {
	transition: all speed ease-out;
	-webkit-transition: all speed ease-out;
	-moz-transition: all speed ease-out;
	-ms-transition: all speed ease-out;
	-o-transition: all speed ease-out;
}

hoverTo(color) {
	position: relative;

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 17px;
		background: color;
		content: '';
		opacity: 0;

		animate(0.25s);

		+responsive(width2) {
			border-radius: 21px;
		}

		+responsive(width3) {
			border-radius: 25px;
		}
	}

	&:hover, &:focus {
		&::after {
			opacity: 1;
		}
	}
}

hoverLight() {
	hoverTo(rgba(255, 255, 255, 0.25));
}

hoverDark() {
	hoverTo(rgba(77, 72, 97, 0.25));
}

responsive(var) {
	condition = 'screen and (min-width: %s)' % var;

	@media condition {
		{block};
	}
}
